<md-toolbar layout="row" class="md-whiteframe-z1 site-content-toolbar">
    <div class="md-toolbar-tools">
        <md-button class="menu" hide-gt-sm ng-click="al.toggleList()" aria-label="Show menu">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1>Wyniki</h1>
    </div>
</md-toolbar>

<md-content flex>
    <md-button class="md-raised" data-ng-click="vm.addScore()">Dodaj wynik</md-button>
    <md-data-table-container>
        <table class="md-primary" md-data-table>
            <thead md-order="query.order">
            <tr>
                <th name="Data" order-by="date"></th>
                <th name="Gospodarze"></th>
                <th name="Drużyna 1"></th>
                <th name="Wynik"></th>
                <th name="Drużyna 2"></th>
                <th name="Goście"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="matchData in data | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
                <td>{{matchData.date | date:'dd.MM.yyyy HH:mm'}}</td>
                <td>{{matchData.homeTeamScore.team}}</td>
                <td><span data-ng-repeat="player in matchData.homeTeamScore.players">{{player}}<span data-ng-if="!$last">,</span> </span></td>
                <td>{{matchData.homeTeamScore.score}}-{{matchData.guestTeamScore.score}}</td>
                <td><span data-ng-repeat="player in matchData.guestTeamScore.players">{{player}}<span data-ng-if="!$last">,</span> </span></td>
                <td>{{matchData.guestTeamScore.team}}</td>
            </tr>
            </tbody>
        </table>
    </md-data-table-container>
    <md-data-table-pagination md-label="paginationLabel" md-limit="query.limit" md-page="query.page" md-total="{{data.length}}"></md-data-table-pagination>
</md-content>