<md-toolbar layout="row" class="md-whiteframe-z1 site-content-toolbar">
    <div class="md-toolbar-tools">
        <md-button class="menu" hide-gt-sm ng-click="al.toggleList()" aria-label="Show menu">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1>Wyniki</h1>
    </div>
</md-toolbar>

<md-content flex id="content" >
    <md-button class="md-raised" data-ng-click="vm.addScore()">Dodaj wynik</md-button>

    <table data-ng-table="vm.tableParams" class="table">
        <tr data-ng-repeat="matchData in $data">
            <td title="'Data'" data-filter="{ date: 'text'}" data-sortable="'date'">
                {{matchData.date | date:'dd.MM.yyyy HH:mm'}}
            </td>
            <td title="'Gospodarze'">
                <span data-ng-repeat="player in matchData.homeTeamScore.players">{{player}} </span>
            </td>
            <td title="'Drużyna 1'">
                {{matchData.homeTeamScore.team}}
            </td>
            <td title="'Wynik'">
                {{matchData.homeTeamScore.score}}-{{matchData.guestTeamScore.score}}
            </td>
            <td title="'Drużyna 2'">
                {{matchData.guestTeamScore.team}}
            </td>
            <td title="'Goście'" >
                <span data-ng-repeat="player in matchData.guestTeamScore.players">{{player}} </span>
            </td>
        </tr>
    </table>
</md-content>