<md-toolbar layout="row" class="md-whiteframe-z1 site-content-toolbar">
    <div class="md-toolbar-tools">
        <md-button class="menu" hide-gt-sm ng-click="al.toggleList()" aria-label="Show menu">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1>Dodaj wynik</h1>
    </div>
</md-toolbar>

<md-content layout-padding>
    <div layout layout-sm="column">
        <md-input-container style="width:70%">
            <label>Wynik (format N-N)</label>
            <input ng-model="formData.score">
        </md-input-container>
        <md-datepicker ng-model="formData.date" md-placeholder="Enter date"></md-datepicker>
    </div>
    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Nazwa pierwszej drużyny</label>
            <input ng-model="formData.homeTeamName">
        </md-input-container>
        <md-input-container flex>
            <label>Gracze (oddzieleni przecinkiem)</label>
            <md-chips ng-model="formData.homeTeamPlayers" md-autocomplete-snap md-require-match="true">
                <md-autocomplete
                        md-selected-item="guestPlayers.selectedItem"
                        md-search-text="guestPlayers.searchText"
                        md-items="item in vm.querySearch(guestPlayers.searchText)"
                        md-item-text="item.nickname"
                        placeholder="Dodaj gracza">
                    <span md-highlight-text="guestPlayers.searchText">{{item.nickname}}</span>
                </md-autocomplete>
                <md-chip-template>
                    <span>
                      {{$chip.nickname}}
                    </span>
                </md-chip-template>
            </md-chips>
        </md-input-container>
    </div>
    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Nazwa drugiej drużyny</label>
            <input ng-model="formData.guestTeamName">
        </md-input-container>
        <md-input-container flex>
            <label>Gracze (oddzieleni przecinkiem)</label>
            <md-chips ng-model="formData.guestTeamPlayers" md-autocomplete-snap md-require-match="true">
                <md-autocomplete
                        md-selected-item="guestPlayers.selectedItem"
                        md-search-text="guestPlayers.searchText"
                        md-items="item in vm.querySearch(guestPlayers.searchText)"
                        md-item-text="item.nickname"
                        placeholder="Dodaj gracza">
                    <span md-highlight-text="guestPlayers.searchText">{{item.nickname}}</span>
                </md-autocomplete>
                <md-chip-template>
                    <span>
                      {{$chip.nickname}}
                    </span>
                </md-chip-template>
            </md-chips>
        </md-input-container>
    </div>
    <div layout layout-sm="column">
        <md-button class="md-raised md-primary" data-ng-click="vm.addScore()" flex>Dodaj wynik</md-button>
    </div>
</md-content>