<md-toolbar layout="row" class="md-whiteframe-z1 site-content-toolbar">
    <div class="md-toolbar-tools">
        <md-button class="menu" hide-gt-sm ng-click="al.toggleList()" aria-label="Show menu">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1>Dodaj wynik</h1>
    </div>
</md-toolbar>

<md-content layout-padding>
    <div layout layout-sm="column">
        <md-input-container style="width:70%">
            <label>Wynik (format N-N)</label>
            <input ng-model="formData.score">
        </md-input-container>
        <md-datepicker ng-model="formData.date" md-placeholder="Enter date"></md-datepicker>
    </div>
    <div layout layout-sm="column">
        <md-autocomplete flex required
                         md-selected-item="formData.homeTeamName"
                         md-search-text="homeTeamAutocomplete.searchText"
                         md-items="team in vm.teamsQuerySearch(homeTeamAutocomplete.searchText)"
                         md-item-text="team"
                         md-min-length="0"
                         md-floating-label="Nazwa pierwszej drużyny">
            <md-item-template>
                <span md-highlight-text="homeTeamAutocomplete.searchText">{{team}}</span>
            </md-item-template>
        </md-autocomplete>
            <md-chips flex ng-model="formData.homeTeamPlayers" md-autocomplete-snap md-require-match="true">
                <md-autocomplete
                        md-selected-item="guestPlayers.selectedItem"
                        md-search-text="guestPlayers.searchText"
                        md-items="item in vm.querySearch(guestPlayers.searchText)"
                        md-item-text="item.nickname"
                        placeholder="Dodaj gracza">
                    <span md-highlight-text="guestPlayers.searchText">{{item.nickname}}</span>
                </md-autocomplete>
                <md-chip-template>
                    <span>
                      {{$chip.nickname}}
                    </span>
                </md-chip-template>
            </md-chips>
    </div>
    <div layout layout-sm="column">
        <md-autocomplete flex required
                         md-selected-item="formData.guestTeamName"
                         md-search-text="guestTeamAutocomplete.searchText"
                         md-items="team in vm.teamsQuerySearch(guestTeamAutocomplete.searchText)"
                         md-item-text="team"
                         md-min-length="0"
                         md-floating-label="Nazwa drugiej drużyny">
            <md-item-template>
                <span md-highlight-text="guestTeamAutocomplete.searchText">{{team}}</span>
            </md-item-template>
        </md-autocomplete>
            <md-chips ng-model="formData.guestTeamPlayers" flex md-autocomplete-snap md-require-match="true" md-floating-label="Gracze">
                <md-autocomplete
                        md-selected-item="guestPlayers.selectedItem"
                        md-search-text="guestPlayers.searchText"
                        md-items="item in vm.querySearch(guestPlayers.searchText)"
                        md-item-text="item.nickname"
                        placeholder="Dodaj gracza">
                    <span md-highlight-text="guestPlayers.searchText">{{item.nickname}}</span>
                </md-autocomplete>
                <md-chip-template>
                    <span>
                      {{$chip.nickname}}
                    </span>
                </md-chip-template>
            </md-chips>
    </div>
    <div layout layout-sm="column">
        <md-button class="md-raised md-primary" data-ng-click="vm.addScore()" flex>Dodaj wynik</md-button>
    </div>
</md-content>